@import 'tailwindcss';
@plugin "daisyui";

/* Scrollbar hide korar jonno custom utility */
.scrollbar-hide::-webkit-scrollbar {
    display: none;
}

.scrollbar-hide {
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
}